* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo {
  height: 50px;
  width: 200px;
  cursor: pointer;
}
li,
a {
  font-weight: 500;
  font-size: 16px;
  color: aliceblue !important;
  text-decoration: none !important;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: #ff6c84;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
button {
  padding: 10px 30px;
  background-color: #ff6c84;
  border: 3px solid white;
  border-radius: 5px !important;
  color: white;
}
h4 {
  color: #ff6c84;
}
.feature-container {
  padding: 1%;
  background-color: #e6e9ed;
}
.upper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tagline1 {
  font-size: 3rem;
  width: 45%;
  font-weight: 500;
}
.tagline2 {
  font-size: 1rem;
  width: 37%;
  color: grey;
}

.feature-card {
  width: 80%;
  padding: 3%;
  padding-top: 6%;
  box-shadow: 0px 3px 3px -1px;
  border: 1px solid #ccc;
}
.card-icon {
  height: 70px;
  width: 70px;
  background-color: #ff6c84;
  color: antiquewhite;
  border-radius: 10px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 10px -5px;
}
.feature-heading {
  margin-top: 40px;
  font-size: 1.3rem;
}
.feature-content {
  font-size: 1.1rem;
}
